<div class=" shadow p-3" style="background-color: white;">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <div class="table-responsive">
                    <h3>History</h3>
                    <table class="table table-striped table-hover">
                        
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Father_name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Number</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Blood_Group</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">DA</th>  
                                    <th scope="col">Date</th>                      
                                </tr>
                            </thead>
                        
                            <tbody *ngIf="Array1.length>0">
                                <tr *ngFor="let item of Array1;let i=index">
                                    <td scope="col">{{i+1}}</td>
                                    <td scope="col">{{item.Name}}</td>
                                    <td scope="col">{{item.father_name}}</td>
                                    <td scope="col">{{item.email}}</td>
                                    <td scope="col">{{item.number}}</td>
                                    <td scope="col">{{item.address}}</td>
                                    <td scope="col">{{item.blood_g}}</td>
                                    <td scope="col">{{item.age}}</td>
                                    <td scope="col">{{item.amount}}</td>
                                    <td scope="col">{{item.DA}}</td>
                                    <td scope="col">{{item.dateofragister}}</td>
                                </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    
