<div class="container-fluid">
  <app-header></app-header>
  <!-- <div class="container">
      <div class="row mt-1">
        <div class="col-md-6">
          <h1 class="heading"> <b>Indias First Online Blood Bank</b></h1>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/images/vector_1_2.gif" alt="" width="100%">
        </div>
      </div>
    </div> -->
  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="hero-text" data-aos="zoom-out">
      <h2>Welcome to SDBC Blood Bank</h2>
      <p></p>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>

    <div class="product-screens">

      <!-- <div class="product-screen-1" data-aos="fade-up" data-aos-delay="400">
      <img src="../../../assets/undraw_doctors_7fdn.svg" alt="">
    </div> -->

      <!-- <div class="product-screen-2" data-aos="fade-up" data-aos-delay="200">
      <img src="../../../assets/undraw_doctors_7fdn.svg" alt="">
    </div> -->

      <div class="product-screen-3" data-aos="fade-up" data-aos-delay="400">
        <img src="../../../assets/undraw_doctors_7fdn.svg" alt="">
      </div>

    </div>

  </section>
  <!-- End Hero Section -->
  <div class="container mt-5">
    <div class="row mt-5" style="text-align: center;">
      <div class="col-md-3 ">
        <img src="../../../assets/undraw_medical_care_movn.svg" alt="" width="100%">
        <h3><b> PRIMARY CARE</b></h3>
      </div>
      <div class="col-md-1 "></div>
      <div class="col-md-3">
        <img src="../../../assets/undraw_medicine_b-1-ol.svg" alt="" width="100%">
        <h3><b>EMARGENCY CASES</b> </h3>
      </div>
      <div class="col-md-1 "></div>
      <div class="col-md-3 ">
        <img src="../../../assets/undraw_doctor_kw-5-l.svg" alt="" width="100%">
        <h3><b>ONLINE APPOINTMENT</b> </h3>
      </div>
    </div>
  </div>
  <!-- <div class="container p-5 pb-0 mb-0">
    <div class="row  mt-5">
      <div class=" card  col  p-0 d-flex justify-content-center card card-hover">
        <div class="" style="padding:20% ;">
          <h3 class="">BEST TREATMENT</h3>
          <div class="card-text"> When you use a theme created by Start Bootstrap, you know that the
            theme
            will look great on any device,
            whether it's a phone, tablet, or desktop the page will behave responsively!</div>
        </div>
      </div>
      <div class=" card col p-0"><img src="../../../assets/images/aufruf-blutspende-en.jpg" alt="" height="100%"></div>
    </div>
    <div class="row ">
      <div class=" card col p-0"><img src="../../../assets/images/GettyImages-1264697313-scaled.jpg" alt=""
          height="90%"></div>
      <div class=" card col p-0 d-flex justify-content-center ">
        <div class="" style="padding:20% ;">
          <h3 class="">BEST DOCTORS</h3>
          <div class="card-text"> When you use a theme created by Start Bootstrap, you know that the
            theme
            will look great on any device,
            whether it's a phone, tablet, or desktop the page will behave responsively!</div>
        </div>
      </div>

    </div>

  </div> -->
  <!-- <img src="../../../assets/images/footer-bg.png" alt=""> -->

  <!-- ======= About Section ======= -->
  <section id="about" class="section-bg">
    <div class="container-fluid" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">About Us</h3>
        <span class="section-divider"></span>
        <p class="section-description">
          Health for all All for Health
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6 about-img" data-aos="fade-right" dat-aos-delay="100">
          <img src="../../../assets/undraw_medical_research_qg4d.svg" alt="">
        </div>

        <div class="col-lg-6 content" data-aos="fade-left" dat-aos-delay="100">
          <h2>
            " There is a difference between how Narayana Health is perceived and what we truly are."</h2>
          <h3>Our mission is to deliver high quality, affordable healthcare services to the broader population in India.
            Our core values are represented by the acronym "iCare", which encompasses innovation and efficiency,
            Compassionate care, Accountability, Respect for all, and Excellence as a culture. At the same time, we seek
            to generate a strong financial performance and deliver long-term value to our shareholders through the
            execution of our business strategy. </h3>
          <p>
            The world perceives us as a low-cost Indian healthcare service provider; what we are engaged in is a
            passionate journey to establish ourselves as the lowest-cost, high-quality healthcare service provider in
            the world.

            At Narayana Health, we are convinced that 'quality' and 'lowest cost' are not mutually exclusive when it
            comes to healthcare delivery. In fact, we are well on our way to demonstrate that we are not running our
            institution as just another number-only business, but are attractively placed to create an affordable,
            globally-benchmarked quality-driven healthcare services model.

            At Narayana Health, we will continue to trust what has worked for us in the past. We will keep our model
            predominantly asset-light; we will reinvest our accruals; we will engage with governments for land and help
            them achieve affordable healthcare promises made to their constituencies; we will rent premises from private
            owners and create small-to-large clinics within existing hospitals. As a result of this flexible approach,
            we will commission hospitals, medical facilities, and clinics across the breadth of this country, getting
            closer to patients and taking the promise of quality affordable healthcare to the doorstep of the country's
            millions.

            It is this exciting prospect that stokes my motivation to do bigger and better for the glory of the country
            that is mine.
          </p>

          <!-- <ul>
            <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.
            </li>
          </ul>

          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet sit amet cursus sit amet dictum
            sit. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec
          </p> -->
        </div>
      </div>

    </div>
  </section>
  <!-- End About Section -->
</div>

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq">
  <div class="container mt-5">

    <div class="section-header">
      <h3 class="section-title">Frequently Asked Questions</h3>
      <span class="section-divider"></span>
      <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque</p>
    </div>

    <ul class="faq-list">

      <li>
        <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Non consectetur a erat nam at lectus urna
          duis? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
          <p>
            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida.
            Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Feugiat scelerisque varius morbi enim
          nunc faucibus a pellentesque? <i class="bi bi-chevron-down icon-show"></i><i
            class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
          <p>
            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec
            ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper
            dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Dolor sit amet consectetur adipiscing
          elit pellentesque habitant morbi? <i class="bi bi-chevron-down icon-show"></i><i
            class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
          <p>
            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum
            integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt.
            Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac odio tempor orci dapibus. Aliquam
          eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
          <p>
            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec
            ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper
            dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam pellentesque nec nam aliquam
          sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i
            class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq5" class="collapse" data-bs-parent=".faq-list">
          <p>
            Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel
            risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis
            blandit turpis cursus in
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus ornare.
          Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bi bi-chevron-down icon-show"></i><i
            class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq6" class="collapse" data-bs-parent=".faq-list">
          <p>
            Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc
            vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in
            metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus
            faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
          </p>
        </div>
      </li>

    </ul>

  </div>
</section>
<!-- End Frequently Asked Questions Section -->

<app-footer></app-footer>